/* Normalising  */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vw;
    margin: 0 auto;
    overflow: hidden;
    background: rgb(33, 23, 99);
    background: linear-gradient(90deg, rgba(33, 23, 99, 1) 12%, rgba(9, 9, 121, 1) 53%, rgba(63, 30, 30, 1) 100%);
}

/* Applied for both text inside header  */
header {
    color: white;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: end;
    font-family: 'Lato', sans-serif;
    padding: 2rem 2rem 0 0;
    letter-spacing: 0.5em;

}

/* need to change just one element's color in header  */
header>h2 {
    color: rgb(214, 182, 1);
}

.container-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: -8.5rem auto auto -45rem;
}

/*style JS elements*/

/*style planets*/
.container-main>.child-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    /*text should not overflow from the circle shape*/
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.container-main :nth-child(1) {
    color: #FFD029;
    background-color: #FFD029;
    box-shadow: 17px 0px 100px -5px #FFD029;
    padding: 25rem;

}

.container-main :nth-child(2) {
    color: hsl(51, 3%, 54%);
    background-color: rgb(140, 139, 135);

}

.container-main :nth-child(3) {
    color: #E7CDCB;
    background-color: rgb(231, 204, 203);
    padding: 1.5rem;
}

.container-main :nth-child(4) {
    color: #428ED4;
    background-color: rgb(55, 141, 221);
    padding: 1.5rem;
}

.container-main :nth-child(5) {
    color: #EF5F5F;
    background-color: #EF5F5F;
}

.container-main :nth-child(6) {
    color: #E29468;
    background-color: rgb(226, 150, 105);
    padding: 6rem;
}

.container-main :nth-child(7) {
    color: #C7AA72;
    background-color: rgb(198, 170, 113);
    padding: 6rem;
    position: relative;
    overflow: visible;
}

/*  ring for 7th child  */
.container-main> :nth-child(7)::after {
    content: "";
    display: block;
    width: 14rem;
    height: 1rem;
    border-radius: 80%;
    position: absolute;
    background-color: rgb(255, 255, 255);
    opacity: 50%;
    transform: rotate(-25deg);

}

.container-main :nth-child(8) {
    color: #C9D4F1;
    background-color: rgb(202, 213, 241);
    padding: 3rem;
}

.container-main :nth-child(9) {
    color: #7A91A7;
    background-color: rgb(107, 140, 170);
    padding: 3rem;
}

.zocom-button{
    color: white;
    background: none;
    border: none;
    padding: 4px 8px;
    font-size: 28px;
    cursor: pointer;
    font-weight: bolder;
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translateX(-50%);
}
.zocom-button:hover{
    background-color: none;
}

/*  they have similiarties that's why the are marge in one */


.info-contianer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 43%;
    width: 45rem;
    height: 50rem;
    font-family: 'Lato', sans-serif;
}
.info-contianer::after {
    position: fixed;
    width: 40%;
    content: "";
    height: 100%;
    left: -30%;
    top: 0;
    border-radius: 50%;
    background: #428ed4;
    box-shadow: 0px 0px 250px 0px rgba(255, 208, 41, 0.20);
}

p{
    font-weight: lighter;
    position: relative;
}
h3,h5,h6,p{
    color: white;
    margin: 10px;
}
h5,h6,p{
    letter-spacing: 3px;
    line-height: 1.5rem;
}
h3{
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 3rem;
    letter-spacing: 0.5rem;
}
h4 {
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: 0.5rem;
    color: rgb(214, 182, 1);
    text-transform: uppercase;
    margin: 10px;
}
h5{
    margin-bottom: 1rem;
    column-count: 3;
    text-transform: uppercase;
    font-weight: bolder;

}

.circumference,.distance,.tem,.day,.night{
    text-transform: lowercase;
    font-weight: lighter;
}
